.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    margin-bottom: 70px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.movie {
    order: 1;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    max-width: 222px;
    max-height: 500px;
    height: 450px;
    margin-bottom: 20px; 
    box-shadow: 3px 2px lightgray;
}

.movie:hover {
    cursor: pointer;
    box-shadow: 5px 3px gray;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 70%;    
    width: 100.5%;
    border-width: 1px;
    border-color: black;
}

h2 {
    font-size: 14px;
}

h5 {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    width: 100%;
    background-color: #F44336;
    top: 0;
    left: 0;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 50px;
    color: white;
}

#top-bar {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 40px;
}

#top-bar a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

#top-bar a:hover {
    cursor: pointer;
    text-shadow: 3px 3px black;
}

.steps {
    padding-bottom: 20px;
    padding-left: 10px;
}

#current-step, #next-steps, #select-movie, #select-date {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    cursor: default;
    text-decoration: none;
}

#select-movie:hover, #select-date:hover {
    cursor: pointer;
    color: gray;
}

#next-steps {
    color:rgb(192, 192, 192);
}

.wrapper {
    display: flex;
    gap: 40px;
}

#poster {
    border-radius: 10px;
    order: 1;
    width: 450px;
    height: 650px;
}

#movie-info {
    order: 2;
}

#title {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#title a {
    color: white;
    text-decoration: none;
}

.times {
    order: 3;
}

.times a {
    background-color: #F44336;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 0px;
    margin: 10px;
    text-decoration: none;
}

.times a:hover {
    cursor: pointer;
    background-color: #D63B2F;
    box-shadow: 3px 2px black;
}

footer {
    background-color: #F44336;
    color: white;
    width: 110%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}

footer span {
    margin-right: 30px;
}

.float-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    margin-bottom: 70px;
    border: 3px solid #fff;
    padding: 20px;
}

.child {
    float: left;
    width: 30%;
}

.parent {
    width: 200px;
}