body {
    margin: 0;
    text-align: center;
    user-select: none;
    font-family:Arial, Helvetica, sans-serif;
}

#title {
    width: 100%;
    background-color: #F44336;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -10px;
    margin-top: -10px;
    font-size: 25px;
    color: white;
    text-align: left;
    padding-left: 30px;
}

#top-bar {
    color: white;
    font-size: 20px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 40px;
}

.steps {
    position: fixed;
    margin-top: 125px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#current-step, #next-steps, #select-movie, #select-time, #select-seats {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    cursor: default;
}

#select-movie:hover, #select-time:hover {
    cursor: pointer;
    color: gray;
}

#next-steps {
    color:rgb(192, 192, 192);
}

#top-bar a {
    margin-left: 20px;
}

#top-bar a:hover {
    cursor: pointer;
    text-shadow: 3px 3px black;
}

.column {
    float: left;
    width: 50%;
    top: 0;
}

#screen {
    border: solid black 2px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#left-column {
    height: 100%;
    margin-top: 275px;
}

#right-column, #editing-content {
    background-image: linear-gradient(
        rgba(244,67,54,0.3),
        rgba(244,67,54,0.4)
    ),
    url(https://images.unsplash.com/photo-1620177088260-a9150572baf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1752&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    height: 100vh;
}

#right-column-content {
    margin-top: 40%;
    margin-bottom: 40%;
}

h3 {
    color: gray;
    font-size: 25px;
    margin-bottom: 10px;
}

#page-title {
    color: #f44336;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
}

#login-text {
    margin-top: 0;
    color: gray;
}

#right-title {
    font-size: 40px;
    color: white;
    margin-top: 0;
}

#right-text {
    color: white;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input[type=email], input[type=password], input[type="text"] {
    border-radius: 25px;
    padding: 15px;
    width: 50%;
    border-color: lightgray;
    text-align: center;
}

table input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.screen {
    font-size: 35px;
    border: solid black 2px;
}

.seatGap {
    width: 40px;
}

.seatVGap {
    height: 40px;
}

#quantity {
    margin-bottom: 40px;
    margin-top: 0px;
}

#right-side-column {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    text-align: left;
    height: 100vh;
}

#poster {
    width: 150px;
    margin-top: 200px;
}

#movie-info {
    margin-bottom: 0px;
}

#right-column-seats {
    bottom: 0;
}

table {
    text-align: center;
    margin-left: 100px;
    margin-top: -30px;
}

#PasswordInput  {
    margin-left: -20px;
}

form i {
    margin-left: -40px;
    cursor: pointer;
}

#forgot, #create-account {
    cursor: pointer;
    color: #F44336;
}

#forgot:hover, #create-account:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    background-color: #F44336;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 30%;
}

button:hover {
    background-color: #D63B2F;
    box-shadow: 3px 2px black;
}

#editing-content {
    margin-top: 3%;
    margin-bottom: 7%;
}

#edit-form {
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-top: 65px;
    padding-bottom: 125px;
}

footer {
    background-color: #F44336;
    color: white;
    width: 110%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    text-align: left;
}

footer span {
    margin-right: 30px;
}