<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:rel="stylesheet" th:href="@{/css/home-style.css}">

    <title>A5 Movies</title>
	<div id="title">
        <h1>A5 Cinemas</h1>
    </div>
    <style>
    a { text-decoration: none;}
    .whiteclass{
    color:white;
    }
  	</style>
    <div id="top-bar">
    	<a class="whiteclass" sec:authorize="hasAuthority('ADMIN')" th:href="@{/manage_movies}">Admin Page</a>
    	<a class="whiteclass" sec:authorize="isAuthenticated()" th:href="@{/account}" >[[${#request.userPrincipal.principal.username}]]</a>
    	<a class="whiteclass" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a class="whiteclass" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </div>
</head>

<body>

	<form th:action="@{/searchByTitle}" method="get">
		<input type="text" name="keyword" th:value="${keyword}"
			placeholder="Find by movie title" size="19">
		<button type="submit" class="btn btn-info">Search</button>
		<button type="submit" class="btn btn-info">Reset</button>
		<div th:if="${param.success}">
                    <div class="alert alert-info"><p class="text-warning" th:text="'There is no movie with this title.'"></p></div>
                </div>
	</form>
	<form th:action="@{/searchByCategory}"  method="get">
		<select id="genre" name="genre" class="form-control">
		<option disabled selected>Movie Category</option>
        <option th:value="Drama">Drama</option>
        <option th:value="Horror">Horror</option>
        <option th:value="Romance">Romance</option>
        <option th:value="Comedy" th:text="Comedy"></option>
        <option th:value="Thriller">Thriller</option>
        <option th:value="Musical">Musical</option>
        <option th:value="Mystery">Mystery</option>
        <option th:value="Historical">Historical</option>
        <option th:value="Fantasy">Fantasy</option>
        <option th:value="Bio">Biographical</option>
        <option th:value="Family">Family</option>
      </select>
		<button type="submit" class="btn btn-info">Search</button>
		<div th:if="${param.failure}">
                    <div class="alert alert-info"><p class="text-warning" th:text="'There is no movie in this category.'"></p></div>
                </div>
	</form>
	<br>
    <br>
	<div class="steps">
       <span id="current-step">Current Movies</span>
    </div>
	
	<div th:each="movie : ${currentMovies}"  class="container">

     <div class="movie">
			<form  th:action="@{/select-time}">

				<img th:src="${movie.poster}">
				<h2 th:text="${movie.title}"></h2>
				<span th:text="${movie.category} + ' | ' + ${movie.rating}"></span><br>
				<span th:text="'Director: ' + ${movie.director}"></span><br>
				<input type="hidden" name="title"th:value="${movie.title}">
				<button type="submit" name="submit" th:value="${movie}" class="link-button">Book Tickets</button>
			</form>
		</div>
<!--        </a>
 -->    </div>

	<div class="steps">
       <span id="current-step">Upcoming Movies</span>
    </div>
    
    <div th:each="movie : ${upcomingMovies}"  class="container">
       <div class="movie">
       		<form th:action="@{/select-time}">
            <img th:src="${movie.poster}">
            <h2 th:text="${movie.title}"></h2>
            <span th:text="${movie.category} + ' | ' + ${movie.rating}">Category: Action/Crime/Drama</span><br>
            <span th:text="'Director: ' + ${movie.director}">Director: Edgar Wright</span><br>
			<input type="hidden" name="title"th:value="${movie.title}">
    		<button type="submit" name="submit" th:value="${movie}" class="link-button">See Movie Details</button>
			</form> 
        </div>
<!--        </a>
 -->    </div>
    <footer>
        <span>1000 Lakeside Dr. Athens, GA</span>
        <span>706-XXX-XXXX</span>
    </footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>