<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Registration</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Registration and
     Login Module</a>
     			<!-- <div sec:authorize="hasAnyAuthority('ADMIN')"> -->
					<a href="select-movie.html">Add new movie</a>
				<!-- </div> -->
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/account}" >[[${#request.userPrincipal.principal.username}]]</a></li>
                    <li>
                    	<span class="nav-item">[[${#request.remoteUser}]]</span>
                    </li>
                  <!-- <li sec:authorize="isAuthenticated()"><a th:href="@{/edit/{id}(id=${user.id})}">Edit Profile</a></li> -->
             <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    	<a class="nav-item dropdown-toggle" data-toggle="dropdown" th:href="@{/account}" sec:authentication="principal.username">[[${#request.userPrincipal.principal.firstname}]]</a>
                    	<div class="dropdown-menu">
                    		<a class="dropdown-item" id="logoutlink" th:href="@{/logout}">Logout</a>
                    	</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">
        <h2>A5 Cinemas</h2>

        <p>
            Welcome <span sec:authentication="principal.username">[[${#request.userPrincipal.principal.username}]]</span>
        </p>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>