<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
      
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
<div id="title">
        <h1>A5 Cinemas</a></h1>
    </div>
    <style>
    a { text-decoration: none;}
    p {color:red;}
    .whiteclass{
    color:white;
    }
  	</style>
    <div id="top-bar">
        <a class="whiteclass" sec:authorize="hasAuthority('ADMIN')" th:href="@{/manage-promotions}">Manage Promotions</a>
        <a class="whiteclass" sec:authorize="isAuthenticated()" th:href="@{/	}">Home</a>
    	<a class="whiteclass" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a class="whiteclass" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </div>
</head>

<body id="editing-content" >
  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>
  <div th:if="${param.success}">
                    <div class="alert alert-info">Successfully saved schedule.</div>
                </div>
                
    <div class="container">
    <form method="post" th:action="@{/schedule}" th:object="${schedule}">
        <div class="form-group row">
            <div class="col-md-4 mt-5">
                <label for="scheduleDate">Schedule Date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="scheduleDate" autocomplete="off" th:field="*{scheduleDate}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

</div>
    
   <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
    <footer>
        <span>1000 Lakeside Dr. Athens, GA</span>
        <span>706-XXX-XXXX</span>
    </footer>
</body>
</html>