<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<div id="title">
        <h1>A5 Cinemas</h1>
    </div>
    <style>
    a, h2 { text-decoration: none; color: white}
    p { text-decoration: none; color: white}
  	</style>
    <div id="top-bar">
    	<a  th:href="@{/}">Home</a>
    	<a th:href="@{/login}">Login</a>
    </div>
</head>
<body id="editing-content">
<br><br><br><br><br><br><br>
	
	<div>
		<h2>Reset Your Password</h2>
	</div>
	<form th:action="@{/reset_password}" method="post"
		style="max-width: 350px; margin: 0 auto;">
		<input type="hidden" name="token" th:value="${token}" />
		<input type="password" name="password" id="password" placeholder="Enter your new password" required><br> <br> <p><input
			type="checkbox" onclick="myFunction()">Show Password</p>

		<script>
			function myFunction() {
				var x = document.getElementById("password");
				if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}
		</script>
		<button type="submit">Change</button>
			<!-- 
				<p>
					<input type="password" name="password" id="password"
						class="form-control" placeholder="Enter your new password"
						required autofocus />
				</p>
				<p>
					<input type="password" class="form-control"
						placeholder="Confirm your new password" required
						onc="checkPasswordMatch(this);" />
				</p>
				<p class="text-center">
					<button type="submit">Change</button>
				</p> -->
			</div>
			
				<!-- <script type="text/javascript">
				function checkPasswordMatch(fieldConfirmPassword) {
				    if (fieldConfirmPassword.value != $("#password").val()) {
				        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
				    } else {
				        fieldConfirmPassword.setCustomValidity("");
				    }
				}

				</script> -->
	</form>
	<div th:if="${error != null}">
		<p class="text-danger">[[${error}]]</p>
	</div>
	<div th:if="${message != null}">
		<p class="text-warning">[[${message}]]</p>
	</div>
	<footer>
        <span>1000 Lakeside Dr. Athens, GA</span>
        <span>706-XXX-XXXX</span>
    </footer>
</body>
</html>