<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Select Time</title>
    <link rel="stylesheet"th:href="@{/css/home-style.css}">
    <div id="title">
        <h1>A5 Cinemas</a></h1>
    </div>
    <style>
    a { text-decoration: none; color: white}
  	</style>
    <div id="top-bar">
    	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/manage-promotions}">Manage Promotions</a>
    	<a sec:authorize="isAuthenticated()" th:href="@{/	}">Home</a>
    	<a sec:authorize="isAuthenticated()" th:href="@{/account}" >[[${#request.userPrincipal.principal.username}]]</a>
    	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </div>
</head>

<body id="time-selection">

    <div class="steps">
        <a id="select-movie" href="select-movie.html">Select a movie > </a>
        <span id="current-step">Select time ></span>
        <span id="next-steps">Select seats > Checkout</span>
    </div>

    <div class="wrapper">
        <div id="movie">
            <img id="poster" th:src="${movie.poster}">
        </div>
        <div id="movie-info">
            <b><p th:text="${movie.title}"></p></b>
 	        <p><b>Category: </b><span th:text="${movie.category}"/></p>
 			<p><b>Rating: </b><span th:text="${movie.rating}"/></p>
 			<p><b>Runtime: </b><span th:text="${movie.runtime}"/></p>
 			<p><b>Language: </b><span th:text="${movie.language}"/></p>
 			<p><b>Description: </b><span th:text="${movie.description}"/></p>
 			<p><b>Director: </b><span th:text="${movie.director}"/></p>
 			<p><b>Producer: </b><span th:text="${movie.producer}"/></p>
 			<p><b>Starring: </b><span th:text="${movie.cast}"/></p>
 			<p><b>Review: </b><span th:text="${movie.review}"/></p>
			<iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/{url} (url=${movie.trailer})}"
 				title="YouTube video player" frameborder="0"
 				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 			
        	<br><br><br><br><br>
        </div>

        <div class="times" th:each="repertoire : ${repertoires}">
        	<div>
        		<button type="submit"><a th:href="@{'/movies/' +  ${repertoire.movie.getTitle()} + '/reservation/' + ${repertoire.id}}"
        			th:text="${#temporals.format(repertoire.date, 'MM.dd.yyyy HH:mm')}"></a></button>
        	<div>
        </div>
    </div>

    <footer>
        <span>1000 Lakeside Dr. Athens, GA</span>
        <span>706-XXX-XXXX</span>
    </footer>

</body>

</html>
