<!DOCTYPE html>
<html lang="en">

<head>
    <title>Select Seats</title>
    <link rel="stylesheet"th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reservation.css}"/>
    <div id="title">
        <h1>A5 Cinemas</a></h1>
    </div>
    <style>
    a { text-decoration: none;}
  	.whiteclass{
    color:white;
    }
  	</style>
    <div id="top-bar">
    	<a class="whiteclass" sec:authorize="hasAuthority('ADMIN')" th:href="@{/manage_movies}">Admin Page</a>
    	<a class="whiteclass" sec:authorize="isAuthenticated()" th:href="@{/	}">Home</a>
    	<a class="whiteclass" sec:authorize="isAuthenticated()" th:href="@{/account}" >[[${#request.userPrincipal.principal.username}]]</a>
    	<a class="whiteclass" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a class="whiteclass" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </div>
</head>

<body >

<!--     <div class="steps">
        <a id="select-movie" href="select-movie.html">Select a movie > </a>
        <a id="select-time" href="select-time.html">Select time ></a>
        <span id="select-seats">Select seats > </span>
        <span id="next-steps">Checkout</span>
    </div> -->

    <div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
  <!--               <span id="next-steps" th:text="${movieName}"></span> -->

                <form th:action="@{'/reservation/save/' + ${repertoireId}}" th:object="${seatInfo}" method="post">

                    <div class="seatStructure" id="left-column">
                        <center>

                            <table id="seatsBlock">
                                <p id="notification"></p>
                                <tr>
                                    <td colspan="16">
                                        <div class="screen" th:text="${movieName}+': Screen'">Screen</div>
                                    </td>
                                    <td rowspan="22">
                                        <div class="smallBox greenBox">Selected Seats</div><br/>
                                        <div class="smallBox redBox">Unavailable Seats</div><br/>
                                    </td>

                                    <br/>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td></td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                </tr>

                                <tr th:each="row, iStat : ${rows}">
                                    <th:block th:each="currentColum: ${#numbers.sequence(1, 14)}">
                                        <td th:if="${currentColum == 1}" th:text="${row}">A</td>
                                        <td>
                                            <input th:field="*{map[__${row + currentColum}__]}" th:disabled="*{map[__${row + currentColum}__]}" type="checkbox" class="seats" th:classappend="*{map[__${row + currentColum}__]} ? redAfter : greenAfter" value="true">
                                        </td>
                                        <td th:if="${currentColum == 7}" class="seatGap"></td>
                                    </th:block>
                                </tr>

                            </table>

                            <input type = "hidden" th:value="${movieName}">
                            <input type = "hidden" th:value="${repertoireId}">

                            
                            
                        </center>
                    </div>
                    
                    <div><button type="submit">Continue</button></div>
                </form>

                <br/><br/><br><br><br>
            </div>
        </div>
    </div>
</div>
    
</body>

<footer>
    <span>1000 Lakeside Dr. Athens, GA</span>
    <span>706-XXX-XXXX</span>
</footer>

</html>
