<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Select Date</title>
    <link rel="stylesheet" hth:href="@{/css/home-style.css}">
    <div id="title">
        <h1><a href="select-movie.html">A5 Cinemas</a></h1>
    </div>
    <div id="top-bar">
        <a href="select-movie.html">Movies</a>
        <a>Offers</a>
        <a href="login-page.html">Login</a>
    </div>
</head>

<body id="time-selection">

    <div class="steps">
        <a id="select-movie" href="select-movie.html">Select a movie > </a>
        <span id="current-step">Select date ></span>
        <span id="next-steps">Select time > Select seats > Checkout</span>
    </div>

    <div class="wrapper">
        <div id="movie">
            <img id="poster"
                src="https://m.media-amazon.com/images/M/MV5BMjM3MjQ1MzkxNl5BMl5BanBnXkFtZTgwODk1ODgyMjI@._V1_.jpg">
        </div>
        <div id="movie-info">
            <p id="movie-title"><b>Baby Driver</b></p>
            <p><b>Rating: </b>R</p>
            <p><b>Runtime: </b>1h 53min</p>
            <p><b>Categories: </b>Action, Crime, Drama</p>
            <p><b>Director: </b>Edgar Wright</p>
            <p><b>Starring: </b>Ansel Elgort, Jon Bernthal, Jon Hamm, Eiza Gonzalez, Kevin Spacey, Jamie Foxx</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z2z857RSfhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="times">
            <a href="select-seats.html">11/20</a>
            <a href="select-seats.html">11/21</a>
            <a href="select-seats.html">11/22</a>
            <a href="select-seats.html">11/23</a>
            <a href="select-seats.html">11/24</a>
            <a href="select-seats.html">11/25</a>
            <a href="select-seats.html">11/26</a>
            <a href="select-seats.html">11/27</a>
        </div>
    </div>

    <footer>
        <span>1000 Lakeside Dr. Athens, GA</span>
        <span>706-XXX-XXXX</span>
    </footer>

</body>

</html>