<h1>TITANIC</h1>
<p>Directed By: James Cameron</p>
<p>Summary: An epic, action-packed romance set against the ill-fated maiden voyage of the R.M.S. Titanic; the pride and joy of the White Star Line.</p>
<p>Rating: PG-13</p>

<h2> Capacity & Showtimes </h2>
<list></list>
    <table>
        <tr>
        <th>Showtimes</th>
          <th>Total Capacity</th>
          <th>Seats Available</th>
          <th>Seats Taken</th>
          <th> # of Adult Tickets Purchased</th>
          <th> # of Children Tickets Purchased</th>
          <th> # of Seniors Tickets Purchased</th>
        </tr>
        <tr>
        <td>Sept 29th 6:00 pm</td>
          <td>90</td>
          <td>4</td>
          <td>86</td>
          <td>71</td>
          <td>9</td>
          <td>6</td>
        </tr>
        <tr>
            <td>Sept 29th 8:00 pm</td>
            <td>90</td>
          <td>22</td>
          <td>68</td>
          <td>60</td>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
            <td>Sept 30h 2:00 pm</td>
            <td>90</td>
          <td>12</td>
          <td>78</td>
          <td>70</td>
          <td>8</td>
          <td>0</td>
        </tr>
      </table>
</list>
<br>
<button>Add Ticket</button>
<button>Remove Ticket</button>
<button>Add Showtime</button>
<button>Remove Showtime</button>





<style>
    table, th, td {
      border:1px solid black;
    }
    </style>