<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

<title>Verification Failed</title>
	<div id="title">
        <h1>A5 Cinemas</h1>
    </div>
  
</head>
<body id="editing-content">
<div class="container">
<br><br><br><br><br>
    <h3 style="color:white;">Sorry, we could not verify your account.</h3>
    <h3 style="color:white;"> It maybe have been already verified,
        or the verification code is incorrect.</h3>
    <h4><a id="login-link" style="color:white;" th:href="@{/login}">Click here to Login</a></h4>
    <h4><a id="register-link" style="color:white;" th:href="@{/registration}">Click here to Register</a></h4>
</div>
<footer>
        <span>1000 Lakeside Dr. Athens, GA</span>
        <span>706-XXX-XXXX</span>
    </footer>
</body>
</html>